//Cambiaranle la extension a .env a este archivo para que puedan probar (ya configure el gitignore para que no se suba el .env)

//Algo asi:
//cd app-web
//npm install
//copy .env.example .env
//npm run dev

VITE_AUTHORS_API_URL=http://localhost:8070
VITE_BOOKS_API_URL=http://localhost:8080
VITE_CUSTOMERS_API_URL=http://localhost:8090
